.header {
  width: 435px;
  height: 100vh;
  background: rgba(246, 246, 246, 0.96);
}

h1 {
  color: rgba(15, 65, 111, 0.94);
  font-family: Roboto;
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  margin: 0;
  padding: 0;
  line-height: normal;
}

h1 span {
  color: #000;
  font-family: Roboto;
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
