.background {
  position: absolute;
  top: 0%;
  left: 0%;
  display: none;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.69);
  top: 0%;
  position: absolute;
  align-items: center;
  justify-content: space-evenly;
  z-index: 100;
}

form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 30%;
  height: 100%;
  transition: 300ms all ease-in-out;
  justify-content: center;
  align-items: center;
}

textarea {
  resize: none;
  padding: 20px;
  display: block;
  width: 100%;
  height: 250px;
  border-radius: 36px;
  border:none;
  outline: none;
  font-size: 4rem;
  text-align: center;
}

button {
  width: 100%;
  height: 30px;
  cursor: pointer;
  background: #f6f6f6;
  border: none;
  outline: none;
  transition: 300ms all;
  border-radius: 36px;
}

button:active {
  transform: scale(0.9);
}

input[type='radio'] {
  width: 50px;
  height: 50px
}

#color-orange {
  accent-color: orange;
}

#color-red {
  accent-color: #FF6666;
}

#color-blue {
  accent-color: #A2E1FC;
  ;
}
