<div class="background" [style.display]="display">
  <form action="">
    <fieldset id="group2">
      <input
        type="radio"
        name="color"
        value=""
        id="color-blue"
        (change)="noteColor = '#A2E1FC'"
      />
      <input
        type="radio"
        name="color"
        value=""
        id="color-pink"
        (change)="noteColor = 'rgb(255, 76, 189)'"
      />
      <input
        type="radio"
        name="color"
        value=""
        id="color-green"
        (change)="noteColor = '#69eb6f'"
      />
      <input
        type="radio"
        name="color"
        value=""
        id="color-purple"
        (change)="noteColor = '#a8a2fc'"
      />
    </fieldset>
    <textarea
      (input)="onTextAreaInputValueChange($event)"
      [style.background]="noteColor"
      cols="30"
      rows="10"
    ></textarea>
    <button type="submit" (click)="createNote(); ($event.preventDefault)">
      Criar Nota
    </button>
  </form>
</div>
